<!DOCTYPE html>
<html lang="es">

<head>
    {{> head }}
    <link rel="stylesheet" href="/css/page2.css">
    <title>Problemas - Problemas</title>
</head>
<body>
    <section id="modal">
        <div class="modal-main">
            <div class="modal-container">
                <section class="modal-card" id="Respuestas">
                    <h2>Respuestas</h2>
                    <article class="coment">
                        <span class="username"><b>User #1</b></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eaque doloribus commodi, iure aspernatur consequatur, mollitia sunt expedita, perferendis qui et. Magnam vitae et reiciendis hic velit deserunt ad odio.</p>
                    </article>
                    <article class="coment">
                        <span class="username"><b>User #1</b></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eaque doloribus commodi, iure aspernatur consequatur, mollitia sunt expedita, perferendis qui et. Magnam vitae et reiciendis hic velit deserunt ad odio.</p>
                    </article>
                    <article class="coment">
                        <span class="username"><b>User #1</b></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eaque doloribus commodi, iure aspernatur consequatur, mollitia sunt expedita, perferendis qui et. Magnam vitae et reiciendis hic velit deserunt ad odio.</p>
                    </article>
                </section>
            </div>
        </div>
    </section>
    <div class="problems">
        {{> header }}
        <section class="card" id="new-problem">
            <h2>Publica un nuevo problema</h2><br>
            <form action="#" method="post" id="new-problem-form">
                <div class="input-alternative">
                    <div class="input-container">
                        <input type="text" id="problem-title">
                        <label for="problem-title">Título del problema</label>
                        <div class="border-bottom-input"></div>
                    </div>
                </div>
                <div class="input-alternative multi-line">
                    <div class="text-area-container">
                        <div class="text-area" contenteditable="true" id="write-problem"></div>
                        <div data-for="write-problem" class="text-area-placeholder" id="problem-description">¿En qué podemos ayudarte?</div>
                        <div class="border-bottom-input"></div>
                    </div>
                </div>
                <div class="combo all-width">
                    <input id="category" type="text" class="combo-input v2" readonly value="Selecciona una categoría" data-value="0">
                    <i class="arrow fas fa-angle-down"></i>
                    <div class="combo-options">
                        {{#each data.categories}}
                        <div class="combo-option" data-value="{{_id}}">
                            <span>{{name}}</span>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="button-container right">
                    <button type="submit" class="btn button-2">Publicar</button>
                </div>
            </form>
        </section>
        <main role="main">
            <h1>Problemas</h1>
            <div id="all-problems">
                {{#each data.problems}}
                <section class="card problem" data-id="{{_id}}">
                    <h2><b>{{title}}</b></h2>
                    <span class="username">{{user}}</span>
                    <p>{{description}}</p>
                    <section class="write-answer">
                        <h3>Publica una respuesta</h3>
                        <div class="input-alternative multi-line">
                            <div class="text-area-container">
                                <div class="text-area" contenteditable="true" id="write-answer-1"></div>
                                <div data-for="write-answer-1" class="text-area-placeholder">Tu respuesta</div>
                                <div class="border-bottom-input"></div>
                            </div>
                        </div>
                    </section>
                    <div class="button-container right">
                        <button type="button" class="btn button-2 make-answer">Responder</button>
                        <button type="button" class="btn button-2 view-answers">Ver respuestas</button>
                    </div>
                </section>
                {{/each}}
            </div>
        </main>
        {{#if (ifCond data.user.role "==" "1")}}
        <a href="/config" id="open-config" title="Abrir configuración del sitio">
            <div class="config-button">
                <i class="fas fa-cog"></i>
            </div>
        </a>
        {{/if}}
    </div>
    {{> footer }}
    <script src="/js/input/problems.js"></script>
</body>

</html>